{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Classify App{% endblock %}

{% block page_content %}
<div>
    {% if current_user.is_authenticated %}
        
    <table class='survey_table'>
    <tr>
    <td colspan=2 class='survey_table_cell'>
    {% if survey.full_url %}
    <h4 class='code_table_header'>URL</h4>
    <a class='survey_response' href='{{ "https://gov.uk" + survey.full_url }}' target='_blank'>{{ survey.full_url }}</a>
    {% endif %}
    </td>
    </tr>
    <tr>
    <td class='survey_table_cell'>
    {% if survey.cat_satisfaction %}
    <h4 class='code_table_header'>How satisfied were you with your visit today?</h4>
    <p class='survey_response'>{{ survey.cat_satisfaction }}</p>
    {% endif %}
    </td>
    <td class='survey_table_cell'>
    {% if survey.cat_found_looking_for %}
    <h4 class='code_table_header'>Did you find what you were looking for?</h4>
    <p class='survey_response'>{{ survey.cat_found_looking_for }}</p>
    {% endif %}
    </td>
    </tr>
    <tr>
    <td colspan=2 class='survey_table_cell'>
    {% if survey.comment_why_you_came %}
    <h4 class='code_table_header'>Why did you come to GOV.UK today?</h4>
    <p class='survey_response'>{{ survey.comment_why_you_came }}</p>
    {% endif %}
    </td>
    </tr>
    <tr>
    <td colspan=2 class='survey_table_cell'>
    {% if survey.comment_where_for_help %}
    <h4 class='code_table_header'>Where else did you go for help?</h4>
    <p class='survey_response'>{{ survey.comment_where_for_help }}</p>
    {% endif %}
    </td>
    </tr>
    <tr>
    <td colspan=2 class='survey_table_cell'>
    {% if survey.comment_further_comments %}
    <h4 class='code_table_header'>Do you have any further comments?</h4>
    <p class='survey_response'>{{ survey.comment_further_comments }}</p>
    {% endif %}
    <hr>
    </td>
    </tr>
    <tr>
    <td class="survey_table_cell">
    <form method="POST">
    {{ form.hidden_tag() }}
    <h5>Which CODE do you think best describes these comments?</h5>
    {{ form.code(class_='code_input') }}
    </td>
    <td class="survey_table_cell">
    <h5>Do the comments relate to a GDS service?</h5> 
    {{ form.project_code(class_='code_input') }}
    <br>
    <h5>Is there Personally Identifying Information (PII) in this survey?</h5>
    {{ form.PII_boolean(class_='code_input') }} YES
    </td>
    </tr>
    <tr>
    <td>
    <br>
    {{ form.submit() }}
    </form>
    </td>
    </tr>
    </table>

    {% else %}
    
    <a href="{{ url_for('auth.login') }}">Please log in here</a>

    {% endif %}
</div>

{% endblock %}

