{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Classify Intents Survey{% endblock %}

{% block page_content %}
<div>
    {% if current_user.is_authenticated %}
        
    <h2>Read the survey response:</h2>

    <p>{% if survey.comment_why_you_came %}{{ survey.comment_why_you_came | safe }} | {% endif %}
    {% if survey.comment_where_for_help %}{{ survey.comment_where_for_help | safe }} | {% endif %}
    {% if survey.comment_further_comments %}{{ survey.comment_further_comments | safe }}{% endif %}
    
    <h2>Apply a Code:</h2>
    <form method="POST">
    {{ form.hidden_tag() }}
    <h5>Which CODE do you think best describes these comments?</h5>
    {{ form.code() }}
    <h2>Apply a Project Code:</h2>
    <h5>Which PROJECT CODE can be applied to the survey if any?</h5>
    {{ form.project_code() }}
    <h2>Is there PII?<h2>
    <h5>Is there Personally Identifying Information (PII) in this survey?</h5>
    {{ form.PII_boolean() }} YES
    <br><br>
    {{ form.submit() }}
    </form>
 
{% else %}
    
    <a href="{{ url_for('auth.login') }}">Please log in here</a>

    {% endif %}
</div>

{% endblock %}

